# =========================
# Large / raw data
# =========================

data/gwas/
data/raw/
data/reference/

# =========================
# Processed data
# =========================

data/processed/

# =========================
# Results and logs
# =========================

results/
logs/

# =========================
# Python
# =========================

__pycache__/
*.py[cod]

# =========================
# R
# =========================

.Rhistory
.RData
.Ruserdata

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================

.vscode/